<h1>Instalação do item de orçamento</h1>

<p><b>Material:</b><br> <%= @item.codigo_material%></p>
<p><b>Endereço de instalação:</b><br> <%= @item.endereco_instalacao %></p>

<p>Localização:</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x400&sensor=false&zoom=16&markers=#{@item.latitude}%2C#{@item.longitude}" %>

