.datagrid table  {
     text-align:  left;
     width:  50%;
 }
 .datagrid  {
    font:  normal 12px/150% Arial,  Helvetica,  sans-serif;
     background:  #fff;
     border:  1px solid #36752D;
 }
.datagrid table td,  .datagrid table th  {
     padding:  3px 10px;
 }
